body {
  text-align: center;
  background-color: #2A1486;
  margin: 0;
  font-family: 'Jolly Lodger', cursive;
  
}
.logo {
  width: 23%;
}
h1{
  margin-top: -30px;
  margin-bottom: 0;
}
h2 {
 font-size: 13px;
 color: white;
 margin-top: -5%;
 padding: 0%;
}

section{
padding-top: 17em ;
}
header{
width: auto;
position: fixed;
z-index: 100;
background: #2A1486;
}

.menu{
  padding-top: 1em;
  width: 100%;
  height: 50px;
  background: #00000075;
}
label{
  padding: 10px;
  color: #B6E529;
  font-size: 25px;

}
footer {
text-align: center;
color: #fff;
width: 100%;
height: 40px;
background: #00000075;
padding: 10px;
}

button {
  font-family: 'Jolly Lodger', cursive;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  border: 2px solid rgb(7, 225, 10);
  color: #2A1486;
  background: #61C725;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 2.5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
button:hover {
  box-shadow: 0px 0px 14px 4px #61C725;
}
/*Estilos para detalle.html */ 
.bodyDetail {
  font-family: 'Jolly Lodger', cursive;
padding-top: 9em;
display: flex;
flex-direction: column;
place-items: center ;

}
.detail{
box-shadow: 0px 0px 14px 4px #61C725;
flex-direction: column;
place-items: center;
font-family: 'Jolly Lodger', cursive;
line-height:35px;
letter-spacing: 2px;
color: white;
text-align: left;
font-size: 22px;
display: flex;
width: 45%;
border: #B6E529 solid 4px;
background-color: #0A0559;
border-radius: 15px;
padding: 20px;
/*margin-top: 1cm;

/*padding-top: 20px;*
padding-bottom: 20px;*/
}

.nameCharacter {
font-family: 'Jolly Lodger', cursive;
padding-top: 27px;
color: #B6E529;
font-size: 20px;
letter-spacing: 3px;
color: #61C725;
font-size: 30px;
text-align: center;


}
.imagen1{
/*box-shadow: 0px 0px 14px 5px #61C725;*/
width: 250px;
height: 250px;
/*margin-left: 0px;
margin-top: 20px;*/
border-radius: 8%;
}
ul{
width: 90%;
}
span,.infoEpisode{ 
  color:rgb(10, 248, 14);;
  font-size:19px;
  text-shadow: 1px 1px 8px white;
  }

.episodio {
  font-family: 'Jolly Lodger', cursive;
  box-shadow: 0px 0px 14px 4px #61C725;
  line-height:40px;
  text-align: center;
  display:grid;
  width: 60%;
  border: #B6E529 solid 4px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  background-color: #0A0559;
  padding: 20px;
  letter-spacing: 4px;  
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .container{
    width: auto;
  }
  h2 {
    color: white;
    font-size: 30px;
    margin-top: -27px;
  }
  .logo{
    width: 60%;
}
  .bodyDetail{
    width: 100%;
    padding-top:60% ;
  }
  .detail{
    line-height:normal;
    width: 70%;
    margin-bottom:1.5em;
  }

  .episodio{
    width: 70%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 250px;
    margin-bottom: 1.5em;

  }
  ul{
    padding: 0;
  }

  button{

    height: 50px;
    letter-spacing:2px;
    font-size: 25px;
  }

  footer{
    font-size: 20px;
  }

  .imagen1{

    width:none;
    height: none;
  }


}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 915px) {
  .bodyDetail {
      padding-top: 14em;
  }
  .nameCharacter {
      padding-top: 30px;
      font-size: 30px;
    }
  h2 {
      font-size: 20px;
      margin-top: -8%;
     }

  .logo{
      width: 40%;
  }

  .episodio {
    line-height:120%;
    font-size: 20px;
    text-align: center;
    width: 40%;
    padding: 20px;
    height: 198px;
    overflow-x: scroll;
    overflow-y: scroll;

  }
  .detail{
    display: flex;
    line-height:150%;
    font-size: 17px;
    text-align: left;
    width: 60%;
    margin-bottom: 5%;
    /*padding-top: 1px;
    padding-left: 3px;
    margin-bottom: 0px;*/ 
  }
 
  
  .episodio {
     
      text-align: center;
      display:grid;
      width: 60%;
  
  }
  .imagen1{
      width:350px;
      height:350px;
      padding-top: 0%;
      padding-bottom: 1%;
  }
}
@media (min-width: 916px) and (max-width: 1023px) {

  .bodyDetail {
   
      padding-top: 14em;
  }
  .nameCharacter {
      padding-top: 28px;
      font-size: 30px;
    }  
  h2 {
      font-size: 20px;
      margin-top: -8%;
     }

  
  .logo{
      width: 40%;
  }
  .detail{ 
    display: flex;
      line-height:43px;
      font-size: 25px;
      text-align: left;
      display: flex;
      width: 50%;
      place-items: center;  

  }
  .episodio {
     
      text-align: center;
      display:grid;
      width: 50%;
      padding: 20px;
     
  
  }
  .imagen1{
      width:350px;
      height:350px;
      padding-top: 5%;
      padding-bottom: 1%;
  }
}

/* Estilos para pantallas grandes (escritorios) */
@media only screen and (min-width: 1024px) {
 
  .menu{
    padding-top: 1em;
    width: 100%;
    height: 40px;
    background: #00000075;
}
ul{

  margin: 0;
}
  .nameCharacter {
      padding-top: 20px;
      font-size: 0.9cm;
    }  
  
  h2 {
      font-size: 20px;
      margin-top: -5%;
     }

  .bodyDetail {
      /*padding-left: 5em;*/
      padding-top: 14em;
      display: flex;
      flex-direction: row;
      height: 100%;;
      place-items: center;
      margin-bottom: 0px;
      padding-bottom: 0px;
      width: 95%;
      justify-content: center;
      margin: auto;
     }
  .detail{
    display: flex;
    flex-direction: row;  
    line-height:150%;
    font-size: 17px;
    text-align: left;
    width: 45%;
    padding: 20px;
    margin-right: 2em;
   /* padding-top: 1px;*/
    /*padding-left: 3px;
    margin-bottom: 0px;*/
      
  }

  .episodio {
    line-height:120%;
    font-size: 20px;
    text-align: center;
    width: 40%;
    padding: 20px;
    height: 198px;
    overflow-x: hidden;
    overflow-y: scroll;

  }
  
  .imagen1{
    width:200px;
    height:200px;
    /*margin-top: 1px;
    margin-left: 2em;*/
    border-radius: 8%;
  }
  
  
  .infoEpisode {
    margin: 8px;
    list-style: none;
    font-size: 20px;
  }

  .title{

    color: #fff;
  }
   
  button {
    
    margin: 20px;
    width: auto;
    height: auto;
    border: 2px solid rgb(7, 225, 10);
    font-size: 25px;
    border-radius: 5px;
    letter-spacing: 2.5px;
    padding: 10px 20px;
    padding-right: 0.5em;
  }
 
  footer{

  color: white;
  padding: 10px;
  font-size: 20px;
  }
 
}