body {
  text-align: center;
  background-color: #2A1486;
  margin: 0;
  font-family: 'Jolly Lodger', cursive;
}
.logo {
  width: 23%;
}
h1{
  margin-top: -30px;
  margin-bottom: 0;
}
h2 {
 color: white;
 margin-top: -4%;
 padding: 0%;
}
.container{
  width: 90%;
  margin: auto;
  text-align: center;
}
section{
padding-top: 17em ;
}
header{
width: auto;
position: fixed;
z-index: 2;
background: #2A1486;
}
.data-card img{
width: 100%;
}
.menu{
  background: #00000075;
  padding-bottom: 1.3em;
}
.filtro{
width: 18%;
display: inline-block;
}
.menuModl{
  
  width: 4%;
  display: inline-block;
}
.modal{
  background: #0a051ffa;
  position: fixed;  
  z-index: 3;
  opacity: 0; /* lo que ocaciona que esta oculto la ventna modal*/
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
  padding-top: 5em;
  right: 0;
  left: 0;
  top: 0;
  padding-bottom: 2em;
  margin: 8em auto;
  width: 93%;
  height: 450px;
  overflow-x: none;
  overflow-y: scroll;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}
.modal_close{
  width: 10%;
  height: 40px;
  background: #9FF494;
  border: 3px solid rgb(7, 225, 10);
  color: #079F0D;
  font-family: 'Jolly Lodger', cursive;
  font-size: 20px;
  margin: auto;
  border-radius: 10px;
}
.modal_close:hover {
  box-shadow: 0px 0px 14px 4px #61C725;
  }


.modal_container{
  width: 90%;
  margin: auto;
  color:white;
  display: flex;
  justify-content: center;
  
}
.modal_footer{
  padding-top: 2em;
}
.charts{
  width: 33%;
  margin: 0 5px 0 5px;
}
.titelChar {
  letter-spacing: .3px;
  font-size: 17px;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

label{
padding: 11px;
color: #B6E529;
font-size: 25px;
}

select[name="type"], select[data-testid="select-sort"]{
  color: #fff;
  background: #00000045;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  font-size:17px;
  box-shadow: 0px 0px 8px 1px rgb(10, 255, 14);
  border: 2px solid #B6E529;
  width: 90%;
}
select[name="select-filter"]{
  width: 90%;
}

select[data-testid="select-sort"]{
  width: 46%;
}

.infoFilter{
display: block;
}
option{
background: #0A0559;
}
option:hover{
background: #B6E529;
}
button[data-testid="button-clear"]{
width: 70%;
height: 50px;
background: #9FF494;
border: 3px solid rgb(7, 225, 10);
color: #079F0D;
font-family: 'Jolly Lodger', cursive;
font-size: 32px;
margin: auto;
border-radius: 10px;
}
footer {
letter-spacing: 3px;
text-align: center;
color: #fff;
padding: 10px;
}
.developers{
width: 50%;
font-size: 25px;
}
option{
  background: #0A0559;
}
ul{
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: center;
padding:0;
}
.card{
width: 18%;
padding: 15px;
border: 1px solid #52E529;
background: #00000073;
margin: 16px;
border-radius: 10px;
color: #fff;
font-size: 22px;
}
.data_id {
position: absolute;
display: block;
background: #170B49;
padding: 10px;
margin-top:-2em;
}
.card:hover {
transform: scale(1.);
-webkit-transform:scale(1.1);
box-shadow: 0px 0px 14px 4px #61C725;
}
button[data-testid="button-clear"]:hover {
box-shadow: 0px 0px 14px 4px #61C725;
}
dl{
margin: 10px 0 10px 0;
}
dt {
font-size: 18px;
color: #B6E529;
}
dd {
margin-bottom: 1rem;
margin-left: 0;
font-size: 25px;
}
.info{
padding: 3px;
text-decoration: none;
border-radius: 10px;
color: #2A1486;
background: #52E529;
margin: 8px 0 8px;
width: 70%;
border: 2px solid #15994A;
font-family: 'Jolly Lodger', cursive;
font-size: 20px;
}

.return {
  display: none;
}
#buttomMenuResponsive{
  display: none;
}
#buttomCloseMenuResponsive{
  display:none;
}

/* @media query para modo responsivo */
@media (max-width: 768px) {

  #buttomMenuResponsive{
    display: block;
    padding: 15px 15px;
    cursor: pointer;
  }

  #buttomCloseMenuResponsive{
    padding: 15px 15px;
    cursor: pointer;
  }

  #navcheckbox:checked ~ .menu {
   background: #dc5eb7;
  }

  .menuResponsiveDisabled{
    display: none;
  }

  .menuResponsive--show{
    opacity: 1;
    display: block;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  

  .return {
    position: fixed;
    width: 95%;
    justify-content: flex-end;
    display: flex;
    z-index: 1;
    padding-top: 2em;
  }

  .return img{
    cursor: pointer;
  }
.container{
  width: auto;
}
select[name="type"]{
  width: 75%;
  height: 50px;
}
button[data-testid="button-clear"]{
width: 80%;
}
.card{
    width: 70%;
}
ul{
    padding: 0;
}
.filtro{
    width: 95%;
    padding: 15px 0;
}
h2 {
    color: white;
    font-size: 30px;
    margin-top: -27px;
  }
.logo{
    width: 60%;
}
section{
  padding-top: 30em;
}
.sectionOpenMenu{
  padding-top:65em!important;
}


header{
  width: auto;
  position: absolute;
  z-index: 2;
  background: #2A1486;
}
h1{
  margin-top: 0px;
}
.modal{
  margin: 3em auto;
  height: 700px;
}
.modal_close{
  width: 55%;
  height: 50px;
  font-size: 35px;
}
.charts{
  width: 80%;
  margin: auto;
}
.modal_container{
  display: block;
}
.titelChar{
  font-size: 25px;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}
.menuModl{
  width: 15%;
  padding: 14px;
}

/* Estilos para pantallas con un ancho mínimo de 768px */
}
@media (min-width: 768px) and (max-width: 915px) {

  #buttomMenuResponsive{
    display: block;
    padding: 15px 15px;
    cursor: pointer;
    width: 10%;
  }

  #buttomCloseMenuResponsive{
    padding: 15px 15px;
    cursor: pointer;
    width: 10%;
  }

  .menuResponsiveDisabled{
    display: none;
  }

  .menuResponsive--show{
    opacity: 1;
    display: block;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  .sectionOpenMenu{
    padding-top:45em!important;
  }
  .menuModl{
    width: 5%;
  }


  .return{
    display: none;
  }
  .container{
    width: auto;
  }
  .card{
      width: 35%;
  }
  .filtro{
      width: 45%;
      padding: 10px;
  }
  select[name="type"]{
      width: 80%;
  }
  button[data-testid="button-clear"]{
      width: 60%;
      height: 60px;
  }
  .logo{
      width: 40%;
  }
  section{
    padding-top: 25em;
  }

  h1{
    margin-top: 0px;
  }

.modal {
    padding-top: 5em; 
    height: 800px;
    margin: 3em auto;
}
.modal_container{

  display: block;
  margin: auto;
}
.modal_close{
  width: 25%;
  height: 60px;
  font-size: 35px;
}
.charts{
  width: 90%;
  margin-bottom: 3em;
}
.titelChar{
  font-size: 30px;
  letter-spacing: .5px
}
}

/* Estilos para pantallas con un ancho entre 915px y 1024px */

@media (min-width: 915px) and (max-width: 1025px) {
  .card{
      width: 25%;
  }

  .container{
    width: 95%;
  }
  ul{
    padding: 0;
  }
  .filtro{
    width: 24%;
  }
  .menuModl {
    width: 6%;
    margin: 10px;
    padding: 10px;
  }

  select[name="type"]{
      width: 90%;
  }
  button[data-testid="button-clear"]{
    width: 55%;
    height: 60px;
  }
  section{
    padding-top: 21em;
  }

  .modal{
    background: #0a051fe0;
    position: fixed;  
    /*display: flex;*/
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    padding-top: 5em;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 2em;
    margin: 8em auto;
    width: 90%;
    height: 450px;
    overflow-x: none;
    overflow-y: scroll;
  }
  
  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  .modal_close{
    width: 10%;
    height: 40px;
    background: #9FF494;
    border: 3px solid rgb(7, 225, 10);
    color: #079F0D;
    font-family: 'Jolly Lodger', cursive;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
  }
  .modal_close:hover {
    box-shadow: 0px 0px 14px 4px #61C725;
  }
  
  
  .modal_container{
    width: 90%;
    margin: auto;
    color:white;
  }
  .charts{
    width: 35%;
  }
  
  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  
}